@model OnlineBookStors.Models.Book

@{
    ViewData["Title"] = "Book Details";
}

<div class="container mt-4">
    <div class="row">
        <div class="col-md-4">
            <img src="@Model.CoverImage" class="img-fluid shadow" />
        </div>

        <div class="col-md-8">
            <h2>@Model.Title</h2>
            <p class="text-muted">@Model.Author</p>
            <p>@Model.Description</p>

            <h3 class="text-success">@Model.Price $</h3>

            <form method="post" action="/Cart/Add/@Model.Id">
                <button class="btn btn-success">Add to Cart</button>
            </form>
        </div>
    </div>

    <a href="/Books" class="btn btn-secondary mt-3">Back</a>
</div>

